.progress {
    border: 1px solid black;
    background: mistyrose;
    padding: 1em 1.5em;
    border-radius: 25px;
    position: fixed;
}

.footer-progress {
    border: 1px solid black;
    background: mistyrose;
    padding: 1em 1.5em;
    border-radius: 25px;
}

.content {
    width: 80%;
    max-width: 1100px;
    margin-inline: auto;
}

.render {
    text-align: center;
}
